*{
    margin: 0;
    padding: 0;
}


#movieContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* ****************************************************************************************************************************** */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    width: 0;  
    min-width: 0; 
    background: rgba(0,0,0,0.85);
    color: white;

    overflow: hidden;

    display: flex;
    align-items: center;
    padding: 10px;

    transition: width 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
    width: 200px;   
}

.card {
    width: 220px;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .overlay {
    width: 100%;   
}

.image-container {
    width: 100%;
    height: 300px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    padding: 12px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

.rating {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.para{
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}

.description {
    font-size: 13px;
    line-height: 1.4;
    color: white;
}

.description {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .description {
    opacity: 1;
}

.wishlist-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #eee;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.wishlist-button:hover {
    background: #ddd;
}

/* ****************************************************************************************************************************** */